//VARIABLES
@use "../abstracts/variables";
//MIXINS
@use "../abstracts/mixin";
@media (min-width: 990px) {

    /* -------------------HEADER--------------------------- */
    header {

        .navv {
            #navbarContenido {
                position: initial;
                background-color: white;
                box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
            }

            .cont {
                .btn-uno {
                    display: block;
                    background-color: #01325f;
                    padding: 15px 30px;
                    border-radius: 25px;
                    text-decoration: none;
                    color: white;
                    font-weight: 700;
                }

                .img-ul {
                    ul {
                        li {
                            a {
                                color: variables.$color-principal;
                            }

                            .btn-dos {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */

@media (min-width: 1024px) {



    body {
        main {

            /* ------------------INICIO----------------- */
            .inicio-p {
                div {
                    margin-left: 100px;

                    .titulo {
                        font-weight: 600;
                        font-size: 5.5rem;
                        width: 65%;
                        line-height: 6rem;
                    }
                }

                .img-a {
                    width: 100%;
                    max-height: 700px;
                    clip-path: polygon(0 21%, 100% 0, 100% 100%, 0 100%);
                }
            }

            .inicio-p::before {
                content: '';
                position: absolute;
                top: 30%;
                left: 10%;
                width: 600px;
                height: 600px;
                background: radial-gradient(circle, rgba(255, 255, 255, 0.411) 0%, transparent 70%);
                transform: translate(-50%, 1%);
                pointer-events: none;
                z-index: 0;
            }

            /* ---------------------------------------------- */
            /* ---------------------------------------------- */

            /* --------------------SECCIONES----------------- */
            .secciones {

                /* ----------------BENEFICIOS--------------- */
                .app {
                    .beneficio {
                        font-size: 1.1rem;
                    }

                    div {
                        @include mixin.flex-center;
                        margin-left: 100px;

                        .imagen-celu {
                            @include mixin.medidas(40%, 40%);
                            margin-right: 10%;
                            margin-bottom: 0%;
                        }

                        ul {
                            li {
                                margin-top: 5px;

                                img {
                                    @include mixin.medidas(31px, 31px);
                                }

                                p {
                                    width: 100%;
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }

                /* ---------------------------------------------- */
                /* ---------------------------------------------- */

                /* ----------------ENTRENAMIENTO---------------- */
                .entrenamientos {
                    font-family: 'Barlow', sans-serif;
                    margin-top: 70px;

                    .grey-zone-uno {
                        .entrenamiento {
                            font-size: 1.1rem;
                        }
                    }

                    .grey-zone-dos,
                    .grey-zone-uno {
                        padding: 70px 0px;

                        h2 {
                            width: 70%;
                            margin: auto;
                        }
                    }

                    .grey-zone-dos {

                        p {
                            font-size: 1.1rem;
                        }
                    }

                    .fondo {
                        height: 650px;
                        display: block;
                    }
                }

                /* ---------------------------------------------- */
                /* ---------------------------------------------- */

                /* ------------EQUIPOS------------- */
                .equipos {
                    h2 {
                        width: 60%;
                    }

                    p {
                        font-size: 1.1rem;
                    }

                    .card-entrenamiento {
                        flex-direction: row;
                        margin-top: 60px;

                        .imagen-fit {
                            width: 50%;
                            margin: 0%;
                        }

                        ul {
                            justify-content: center;
                            transform: translateY(0px);
                            margin-right: 50px;

                            li {
                                img {
                                    @include mixin.medidas(31px, 31px);
                                }
                            }
                        }
                    }

                    padding-bottom: 100px;
                }
            }

            /* ---------------------------------------------- */
            /* ---------------------------------------------- */
        }
    }
}

/* ----------------------FOOTER------------------------ */
footer {
    div {
        ul {
            flex-direction: row;
        }
    }
}