//VARIABLES
@use "../abstracts/variables";
//MIXINS
@use "../abstracts/mixin";
@media (min-width: 990px) {

    /* -------------------HEADER--------------------------- */
    header {

        .navv {
            #navbarContenido {
                position: initial;
                background-color: white;
                box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
            }

            .cont {
                margin: 0px 20px;

                .btn-uno {
                    display: block;
                    background-color: #01325f;
                    padding: 10px 25px;
                    border-radius: 25px;
                    text-decoration: none;
                    color: white;
                    font-weight: 700;
                }

                .img-ul {
                    ul {
                        li {
                            a {
                                color: variables.$color-principal;
                            }
                        }

                        .btn-dos {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */

@media (min-width: 1024px) {



    body {
        main {

            /* ------------------INICIO----------------- */
            .inicio-p {
                div {
                    margin-left: 100px;

                    .titulo {
                        font-weight: 600;
                        font-size: 5.5rem;
                        width: 80%;
                        line-height: 6rem;
                    }
                }

                .img-a {
                    max-height: 700px;
                    top: -120px;
                    margin-bottom: -120px;
                }
            }

            .inicio-p::before {
                content: '';
                position: absolute;
                top: 30%;
                left: 10%;
                width: 600px;
                height: 600px;
                background: radial-gradient(circle, rgba(255, 255, 255, 0.411) 0%, transparent 70%);
                transform: translate(-50%, 1%);
                pointer-events: none;
                z-index: 0;
            }

            /* ---------------------------------------------- */
            /* ---------------------------------------------- */

            /* --------------------SECCIONES----------------- */
            .secciones {

                /* ----------------BENEFICIOS--------------- */
                .app {
                    .beneficio {
                        font-size: 1.1rem;
                    }

                    div {
                        @include mixin.flex-center;
                        margin-left: 100px;

                        .imagen-celu {
                            @include mixin.medidas(37%, 37%);
                            margin-right: 10%;
                            margin-bottom: 0%;
                        }

                        ul {
                            li {
                                margin-top: 5px;

                                img {
                                    @include mixin.medidas(31px, 31px);
                                }

                                p {
                                    width: 100%;
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }

                /* ---------------------------------------------- */
                /* ---------------------------------------------- */

                /* ----------------ENTRENAMIENTO---------------- */
                .entrenamientos {
                    font-family: 'Barlow', sans-serif;
                    margin-top: 70px;

                    .grey-zone-uno {
                        .entrenamiento {
                            font-size: 1.1rem;
                        }
                    }

                    .grey-zone-dos,
                    .grey-zone-uno {
                        padding: 70px 0px;

                        h2 {
                            width: 70%;
                            margin: auto;
                        }
                    }

                    .grey-zone-dos {

                        p {
                            font-size: 1.1rem;
                        }
                    }

                    .fondo {
                        height: 650px;
                        display: block;
                    }
                }

                /* ---------------------------------------------- */
                /* ---------------------------------------------- */

                /* ------------EQUIPOS------------- */
                .equipos {
                    font-family: 'Barlow', sans-serif;


                    p {
                        font-size: 1.1rem;
                    }



                    .card-entrenamiento {
                        flex-direction: row;
                        margin-top: 60px;

                        .imagen-fit {
                            width: 45%;
                            margin: 0%;
                        }

                        ul {
                            justify-content: center;
                            transform: translateY(0px);
                            margin-right: 50px;

                            li {
                                img {
                                    @include mixin.medidas(31px, 31px);
                                }
                            }
                        }
                    }

                    padding-bottom: 100px;
                }
            }

            /* ---------------------------------------------- */
            /* ---------------------------------------------- */
        }
    }

    footer {
        div {
            ul {
                flex-direction: row;
            }
        }
    }

    /* ---------------------------------------------- */
    /* ---------------------------------------------- */
    /* ---------------------------------------------- */

    /* ---------------------NOSOTROS------------------------- */

    body {
        .nosotros {

            .contenedor {
                padding: 50px 10% 100px 10%;

                .textos,
                form {
                    width: 100%;
                }

                .redes {
                    ul {
                        li {}
                    }
                }

            }
        }

        .publicidad-fondo {
            .publi {
                margin: 0 10%;
                padding: 50px 7%;

                h2 {
                    font-size: 2.7rem;
                }

                h3 {
                    font-size: 4rem;
                    line-height: 60px;
                }

            }

            padding-bottom: 60px;
        }


        /* ---------------------------------------------- */
        /* ---------------------------------------------- */
        /* ---------------------------------------------- */

        /* ----------------------MEMBRESIA------------------------ */

        .contenedor {
            .grid-container {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                padding: 5% 10%;

                .item {
                    padding: 30px;
                }

                /*
            .item-uno {
                grid-column: 1fr;
            }

            .item-dos {
                grid-column: 1fr;
            }

            .item-tres {
                grid-column: 1fr;
            }
                */
            }

        }


        /* ---------------------------------------------- */
        /* ---------------------------------------------- */
        /* ---------------------------------------------- */


        /* ----------------------HTML-COMPRA----------------------- */
        main {
            .pago {
                padding: 120px 0px;
                flex-direction: row;

                .fondo-pelado {
                    width: 40%;
                    height: 393px;
                    border-radius: 0px;
                    border-bottom-left-radius: 25px;
                    border-top-left-radius: 25px;
                }

                .contenedor {
                    width: 40%;
                    border-radius: 0px;
                    border-bottom-right-radius: 25px;
                    border-top-right-radius: 25px;
                }
            }
        }
    }
}