@media (min-width: 600px) {
    body {

        /* ------------------INICIO----------------- */
        .inicio-p {
            padding-top: 70px;
            div {
                .titulo {
                    font-size: 4.5rem;
                    line-height: 70px;
                    margin-bottom: 50px;
                }

                a {
                    font-size: 28px;
                }

                
            }

        }

        /* --------------- */
        /* ------------EQUIPOS------------- */
        .equipos {

            ul {
                margin-left: 20px;
                transform: translateY(-40px);

                li {
                    p {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}