//MIXINS
@use "../abstracts/mixin";
@media (min-width: 600px) {
    body {

        /* ------------------HEADER-------------------- */
        header {
            .navv {
                .cont {
                    .img-ul {
                        ul {
                            li {
                                a {
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        /* ---------------------------------------------- */
        /* ---------------------------------------------- */

        /* --------------------MAIN-------------------------- */
        main {

            /* ------------------INICIO----------------- */
            .inicio-p {
                padding-top: 70px;

                div {
                    .titulo {
                        font-size: 4.5rem;
                        width: 90%;
                        line-height: 70px;
                        margin-bottom: 50px;
                    }

                    a {
                        font-size: 1.2rem;
                    }


                }

                .img-a {
                    top: -80px;
                    margin-bottom: -80px;
                }
            }

            /* ---------------------------------------------- */
            /* ---------------------------------------------- */

            .secciones {



                /* ------------BENEFICIOS------------- */
                .app {
                    .beneficio {
                        font-size: 1rem;
                    }

                    h2 {
                        font-size: 3rem;
                    }

                    div {
                        flex-direction: row;
                        align-items: center;

                        .imagen-celu {
                            width: 60%;
                        }

                        ul {
                            width: 100%;

                            li {
                                img {
                                    @include mixin.medidas(38px, 38px);
                                }

                                p {
                                    font-size: 1.1rem;
                                }
                            }
                        }
                    }
                }

                /* ---------------------------------------------- */
                /* ---------------------------------------------- */

                /* ------------ENTRENAMIENTO------------- */
                .entrenamientos {




                    .grey-zone-uno {
                        .entrenamiento {
                            font-size: 1rem;
                        }

                        h2 {
                            font-size: 3rem;
                        }
                    }

                    .grey-zone-dos {
                        transform: translateY(0px);

                        p {
                            font-size: 1.1rem;
                        }

                        h2 {
                            font-size: 1.6rem;
                        }
                    }

                    .fondo {
                        height: 450px;
                    }
                }

                /* ---------------------------------------------- */
                /* ---------------------------------------------- */

                /* ------------EQUIPOS------------- */
                .equipos {
                    transform: translateY(0px);
                    padding-top: 100px;

                    h2 {
                        font-size: 3rem;
                    }

                    p {
                        font-size: 1rem;
                    }

                    .card-entrenamiento {
                        .imagen-fit {
                            width: 80%;
                        }

                        ul {
                            margin-left: 7%;
                            transform: translateY(-40px);

                            li {
                                img {
                                    @include mixin.medidas(31px, 31px);
                                }

                                p {
                                    font-size: 1.1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .ubicacion {
            padding: 2rem 2rem;
        }

        /* ---------------------------------------------- */
        /* ---------------------------------------------- */

        /* ---------------------FOOTER------------------------- */
        footer {
            h2 {
                font-size: 1rem;
            }
        }

        /* ---------------------------------------------- */
        /* ---------------------------------------------- */
        /* ---------------------------------------------- */

        /* ----------------------NOSOTROS------------------------ */
        .nosotros {
            .contenedor {
                flex-wrap: nowrap;
                padding: 0px 20px;
                .textos, form{
                    margin: 100px 15px;
                }
            }
        }

        /* ---------------------------------------------- */
        /* ---------------------------------------------- */
        /* ---------------------------------------------- */

        /* ----------------------MEMBRESIA------------------------ */


        .contenedor {
            .grid-container {
                padding: 5% 20%;
            }
        }



        /* ---------------------------------------------- */
        /* ---------------------------------------------- */
        /* ---------------------------------------------- */
    }
}