/* PALETA DE COLORES ELEGIDA */
/* Naranja: #ff6700 - Casi Blanco: #ebebeb - Gris Claro: #c0c0c0 - gris letra: #4B4B4C - Azul marino: #3a6ea5 - Azul: #004e98 */
/* IDEA: LANDING DE GIMNASIO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white !important;
}

